Package: netsx-client-tools
Version: 1
Section: nets-x
Priority: optional
Architecture: all
Depends: openssh-server 
Maintainer: Alexander Ott <mail [aet] alexanderott.com>
Description: nets-x game engine client deployment tools
